.carousel-control-prev-icon{
  filter: invert(1);
}

.carousel-control-next-icon{
  filter: invert(1);
}

.carousel-indicators{
  filter: invert(1);
}

.portfolio-item{
  width:100%;
}

.bigimg{
  width: 100%;
  position: relative;
  text-align: center;
  color:white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav{
  border-bottom-style: solid;
  border-color:#d1bc92;
}

.nav-item{
  padding-left: 1rem;
}

@media (max-width: 992px) {
  .bigimg{
    width: 60%;
  }

}

@media (max-width: 600px) {
  .bigimg{
    width: 50%;
  }
}
